/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    background: #CCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
}

    .overlay {
        position: absolute;
        z-index: 5;
        top: "0px";
        right: "0px";
        bottom: "0px";
        left: "0px";
        pointer-events: none;
    }

        .textContainer {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 3.5rem;
            font-weight: 600;
            color: white;
            -webkit-text-stroke: 3px #444;

            padding-top: 3px;
        }

    svg {
        position: absolute;
        z-index: 0;
        background: white;
    }

        .gridLine {
            stroke: #DDD;
        }

        .outerCircle {
            stroke: #444;
            stroke-width: 3px;
            fill: transparent;
        }

        .coinArm {
            stroke: #444;
            stroke-width: 3px;
            fill: transparent;
            opacity: 0.2;
        }
            .coinArm.selected {
                opacity: 1;   
            }