/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@keyframes rightArmOut {
    from { cx: 22; } /* size2 - arm_size2 - pad */
    to { cx: 77.5; } /* 15.5 to get to edge + CELL_SIZE/2 */
}

@keyframes rightArmBack {
    from { cx: 77.5; /* size2 - arm_size2 - pad */ }
    to { cx: 22; }
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    background: #CCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
}

    .underlay, .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
    }

    .overlay {
        z-index: 10;
    }

    .underlay {
        z-index: 0;
        background: white;
    }

        .textContainer {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 3.5rem;
            font-weight: 600;
            color: white;
            -webkit-text-stroke: 3px #444;

            padding-top: 3px;
        }
        .textContainer.coinStore {
            font-size: 1.3rem;
            -webkit-text-stroke: 0px;
            color: #FFD700; /* GOLD */
        }
        .textContainer.openCell {
            -webkit-text-stroke-color: #FFD700;
            color: white;
        }

    svg {
        position: absolute;
        z-index: 5;
        background: transparent;
    }

        .gridLine {
            stroke: #DDD;
        }

        .openCellCoin {
            stroke: #FFD700; /* GOLD */;
            stroke-width: 3px;
            fill: transparent;
            cursor: pointer;
        }

        .outerCircle {
            stroke: #444;
            stroke-width: 3px;
            fill: transparent;
            pointer-events: none;
        }

        .coinArm {
            stroke: #CCC;
            stroke-width: 3px;
            fill: transparent;
            cursor: pointer;
        }
            .coinArm.selected {
                stroke: #444;   
            }
            .coinArm.rightArmOut {
                animation-name: rightArmOut; 
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
            .coinArm.rightArmBack {
                animation-name: rightArmBack;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }